body { padding-top: 60px; }
.head-box { background: url(../images/abstract_wallpaper_09.jpg) top center no-repeat; margin: -60px 0 20px 0; border-bottom: 4px solid #FF9900; }
.head-box .head-body-box { color: #FFF; text-shadow: 0px -1px 0px #000; padding: 60px 00px 40px; width: 90%; margin: 0 auto; position: relative; font-weight: bold; }
@media (max-width: 767px) {
    .head-box { margin: -20px -20px 20px; }
    .head-box .head-body-box { padding: 30px 00px 20px; }
}